---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bytesized&display=swap"
      rel="stylesheet"
    />
    <!-- Google Tag Manager -->
    <script>
      (function (w: { [key: string]: any }, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        (j as HTMLScriptElement).async = true;
        (j as HTMLScriptElement).src =
          "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        if (f.parentNode) {
          f.parentNode.insertBefore(j, f);
        }
      })(window, document, "script", "dataLayer", "GTM-5248MR8H");
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HSNFTZ9GV2"
    ></script>
    <script>
      (window as any).dataLayer = (window as any).dataLayer || [];
      declare global {
        var dataLayer: any[];
      }
      window.dataLayer = window.dataLayer || [];
      function gtag(...args: any[]) {
        window.dataLayer.push(args);
      }
      gtag("js", new Date());

      gtag("config", "G-HSNFTZ9GV2");
    </script>
    <!-- End Google Tag Manager -->
    <style>
      :root {
        --primary-color: #333;
        --secondary-color: #007bff;
        --text-color: #444;
        --text-muted: #777;
        --background-color: #f9f9f9;
        font-family: sans-serif;
        line-height: 1.6;
      }

      body {
        margin: 0;
        padding: 0;
        color: var(--text-color);
      }

      h1,
      h2,
      h3 {
        color: var(--primary-color);
        margin-bottom: 1rem;
      }

      a {
        color: var(--secondary-color);
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5248MR8H"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>
